#deviceForm {
    height: 100%;
}

.item-block {
    min-height: 0;
}

.item-inner {
    // disable the validator line on the ion-input element
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    }

.deviceNotFoundHeader {
    white-space: normal;
    margin-top: 1.5em!important;
}

.deviceNotFoundMessage {
    white-space: normal;
    margin-top: .8em!important;
}

#deviceInfoFooter {
    background-color: #EFEFEF;
    border-top: thin solid gray;
}

#userNameControls {
    border: none!important;
}

.footer footer-ios {
    border: none!important;
}

@media screen and (max-width: 549px) { 
    html {
        font-size:16px;
    }

    .formHeader {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #EFEFEF;
        border-bottom: thin #BFBFBF solid;
    }

    .deviceTitle {
        font-size: 100%;
    }

    .formInformation {
        margin-top: 60px;
    }

    .scroll-content {
        overflow-y: hidden;
    }

    .label-header {
        font-size: 65%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 5px;
        max-width: 40%;
    }
    .label-value {
        font-size: 65%;
        margin: 0;
        
    }

    .item-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #deviceInfoFooter {
        background-color: #EFEFEF;
    }

    #userNameControls {
        background-color: #EFEFEF;
        border-top: thin #BFBFBF solid;
    }

    .text-input {
        padding: 10px;
        border: thin black solid;
        background-color: white;
    }

    #userNameInputLabel {
        font-size: 55%;
    }

    #userNameInput {
        width: 100%;
        font-size: 50%;
    }

    .checkoutbutton {
        height: 3em;
        margin-left: auto!important;
        margin-right: auto!important;
    }

    .item-input {
        border: 0;
        box-shadow: 0;
    }
}

@media screen and (min-width: 550px) { 
    html {
        font-size:20px;
    }

    .formHeader {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #EFEFEF;
        border-bottom: thin gray solid;
    }

    .deviceTitle {
        font-size: 100%;
    }

    .formInformation {
        margin-top: 60px;
    }

    .scroll-content {
        overflow-y: auto;
    }

    .label-header {
        font-size: 65%;
        margin: 0;
        max-width: 35%;
    }
    .label-value {
        font-size: 65%;
        margin: 0;
    }

    .item-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }

     #deviceInfoFooter {
        background-color: #EFEFEF;
    }

    #userNameControls {
        background-color: #EFEFEF;
        border-top: thin gray solid;
    }

    .text-input {
        padding: 10px;
        border: thin black solid;
        background-color: white;
    }

    #userNameInputLabel {
        font-size: 55%;
    }

    #userNameInput {
        width: 100%;
        font-size: 50%;
    }

    .text-input {
        padding: 10px;
        border: thin black solid;
    }

    .checkoutbutton {
        height: 3em;
        margin-left: auto!important;
        margin-right: auto!important;
    }

}