<form #deviceForm="ngForm" id="deviceForm">
  <ion-header no-border text-center class="formHeader">
    <span class="deviceTitle" *ngIf="deviceFound==true">{{name}}</span>
    <span class="deviceTitle" *ngIf="deviceFound==false">Device Not Found</span>
  </ion-header>

  <ion-content>

    <div class="formInformation">
      <ion-item class="item-info" *ngIf="deviceFound==false">
        <h2 class="deviceNotFoundHeader" text-center>Device Not In Collection</h2>
        <p class="deviceNotFoundMessage">This device has not been added to the device collection. Please use the "Add Device" section of the device checkout
          site to add the device and then try to check it out again.</p>
      </ion-item>
    </div>

    <div class="formInformation" *ngIf="deviceFound==true">
      <ion-item no-lines class="item-info">
        <ion-label class="label-header" text-center>Asset #:</ion-label>
        <ion-label class="label-value">{{assetNumber}}</ion-label>
      </ion-item>
      <ion-item no-lines class="item-info">
        <ion-label class="label-header" text-center>Database ID:</ion-label>
        <ion-label class="label-value">{{deviceId}}</ion-label>
      </ion-item>
      <ion-item no-lines class="item-info">
        <ion-label class="label-header" text-center>OS:</ion-label>
        <ion-label class="label-value">{{osType}}</ion-label>
      </ion-item>
      <ion-item no-lines class="item-info">
        <ion-label class="label-header" text-center>OS Version:</ion-label>
        <ion-label class="label-value">{{osVersion}}</ion-label>
      </ion-item>
      <ion-item no-lines class="item-info">
        <ion-label class="label-header" text-center>Borrower:</ion-label>
        <ion-label class="label-value">{{borrower}}</ion-label>
      </ion-item>
      <ion-item no-lines class="item-info">
        <ion-label class="label-header" text-center>Last Modified:</ion-label>
        <ion-label class="label-value">{{lastModified | date: 'medium'}}</ion-label>
      </ion-item>
    </div>

  </ion-content>

  <ion-footer id="deviceInfoFooter">
    <div *ngIf="deviceFound==true && userAction=='checkout'" class="footer">
      <ion-item id="userNameControls" no-lines>
        <ion-input id="userNameInput" type="text" name="borrowerName" placeholder="Enter your name and click Check Out." required
          clearInput [(ngModel)]="borrowerName" #borrowerField></ion-input>
      </ion-item>
    </div>

    <ion-grid class="buttonGrid">
      <ion-row>
        <ion-col col-6 *ngIf="deviceFound==true && userAction=='return'">
          <button class="checkoutbutton" block ion-button color="secondary" (click)="returnDevice()">Return Device</button>
        </ion-col>
        <ion-col col-6 *ngIf="deviceFound==true && userAction=='checkout'">
          <button class="checkoutbutton" block ion-button color="secondary" (click)="checkoutDevice()" [disabled]="deviceForm.form.invalid">Check Out</button>
        </ion-col>

        <ion-col *ngIf="deviceFound==true" class="cancelButtonContainer" col-6>
          <button class="checkoutbutton" block ion-button color="danger" (click)="dismiss()">Cancel</button>
        </ion-col>

        <ion-col *ngIf="deviceFound==false" class="cancelButtonContainer" col-12>
            <button class="checkoutbutton" block ion-button color="danger" (click)="dismiss()">Cancel</button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</form>