<ion-content padding-top padding-bottom class="background">
  <div class="banner-ribbon">
    <h1>Mobile Device Checkout Kiosk</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 class="center"><button class="checkoutButton" ion-button color="homeButtons" (click)="changeDevice('checkout')">Check Out a Device</button></ion-col>
      <ion-col col-6 class="center"><button class="returnButton" ion-button color="homeButtons" (click)="changeDevice('return')">Return a Device</button></ion-col>
      <!-- Cordova elements do not run in the browser so the below line is used to open the modal in the browser for testing-->
      <!-- <ion-col col-6 class="center"><button class="returnButton" ion-button color="homeButtons" (click)="testModal('checkout')">Test Modal</button></ion-col>  -->
    </ion-row>
  </ion-grid>
</ion-content>