page-home {

.background {
    background-color: #85d2ea;
}

h1 {
    text-align: center;
    font-size: 5.9vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-family: arial;
    color: white;
    font-weight: bold;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: white;
}

.center{
     text-align:center;
}

.banner-ribbon {
    background-color: #00586e;
    margin-top: 18vh;
    margin-bottom: 5vh;
    margin-right: 0;
    margin-left: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button {
    font-family: Arial;
}

.checkoutButton {
    width: 90%;
    height: 15.6vw;
    font-size: 3vw;
    font-family: arial;
    font: #263238;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

.returnButton {
    width: 90%;
    height: 15.6vw;
    font-size: 3vw;
    font-family: arial;
    font: #263238;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

.checkoutButton:active {
    transform: translateY(10px);
  }

.returnButton:active {
    transform: translateY(10px);
}

}
